workloadgen/input/generated1/view-policies.dtd


    <!ELEMENT Policies (ViewGenPolicy)>
    <!ELEMENT ViewGenPolicy (Policy+)>
        <!ATTLIST ViewGenPolicy
            numViews   CDATA    #REQUIRED>
    <!ELEMENT Policy (Parameter*)>
        <!ATTLIST Policy
            class   CDATA #REQUIRED>
    <!ELEMENT Parameter (Name, Value)>
    <!ELEMENT Name (#PCDATA)>
    <!ELEMENT Value (#PCDATA)>
    

